# STM32CubeIDE / Eclipse files
.metadata/
.settings/
.vscode/
.project
.cproject
*.launch

# Build artifacts
Debug/
Release/
build/
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.lst

# Other temp files
*.log
*.tmp

